repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli>=2.4"]
  - repo: https://github.com/tox-dev/tox-toml-fmt
    rev: "v1.6.0"
    hooks:
      - id: tox-toml-fmt
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.16.0"
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
  - repo: https://github.com/google/yamlfmt
    rev: "v0.21.0"
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 120
        language: python
        types: [markdown]
        additional_dependencies:
          - mdformat-gfm
          - mdformat-ruff
  - repo: https://github.com/LilSpazJoekp/docstrfmt
    rev: v2.0.2
    hooks:
      - id: docstrfmt
        args: ["-l", "120"]
        additional_dependencies: ["sphinx>=9.1"]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
